<div class="profile-page">
    <h2 class="profile-title">Welcome, {{user.username}}</h2>
    <div class="row">
        <div class="col-md-8">
            <form action="/users/{{user._id}}/delete?_method=PUT" method="POST">
                <fieldset>
                    <legend class="profile-title">Your saved names: </legend>
                    {{#each user.nameList}}
                        <div>
                            <input type="checkbox" name="deleteNames" value="{{this}}">
                            <label for="{{this}}">{{this}}</label>
                        </div>
                    {{/each}}
                    <input class="btn animate" type="submit" value="Delete Names">
                </fieldset>
            </form>
        </div>
        <div class="col-md-4">
            {{#if user.avatar}}
                <img src=user.avatar + "-standard." alt="User's avatar or profile picture.">
            {{else}}
                <a href="/users/{{user._id}}/edit">
                    <p style="background-color:white;">No Image yet! Click here to add one!</p>
                </a>
            {{/if}}
        </div>
    </div>
</div>
